

.button-login-register{
    height: 40px;
    width: 80px;
}

.linkRuta{
    text-decoration: none;
}

.login-register-mod{
    display: flex;
    background-color: rgb(172, 127, 255);
    width: 200px;
    gap: 25px;
    
}

.botones-logo{
    background-color: aquamarine;
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
}

.logo {
    width: 100px;
    height: 50px;
}

.imagen-desfile{
    height: 450px;
    width: 500px;
}

.lugar-desfile{
    text-align: center;
}



.titulo-app{
    font-size: 40px;
    padding-left: 40px;
}

.descripcion{
    text-align: left;
    font-size: 20px;
    background-color: antiquewhite;
    padding-left: 40px;
    padding-right: 40px;
}

.descripcion-logo{
    padding-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 30px;
    text-align: center;
}

.logo-aso{
    width: 300px;
    height: 200px;
}

.pie-pagina{
    background-color: black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.pie{
    list-style: none;
    text-align: center;
    color: white;
}

.redes{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.pie .ejemplos{
    text-decoration: none
}

.logo-pie{
    height: 80px;
}

.logo-redes{
    width: 50px;
    height: 50px;
}

.imagenes-aso{
    width: 600px;
    height: 300px;
}

.pregunta{
    text-align: center;
}