
.titulo-app{
    text-align: center;
    font-size: 30px;
}

.login-register-mod{
    display: flex;
    gap: 25px;
    align-items: center; 
    justify-content: center;
    
}

.button-login-register{
    text-decoration: none;
}
